footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer p span {
  margin: 0 2px;
}

footer button {
  border: none;
  background: none;
}
