aside.BrushesContainer {
  max-width: 300px;
  position: absolute;
  top: 20px;
  left: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

@media only screen and (max-width: 450px) {
  aside.BrushesContainer {
    max-width: 150px;
  }
}

aside.BrushesContainer div.BrushesHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 450px) {
  aside.BrushesContainer div.BrushesHeader h2 {
    font-size: 20px;
  }
}

aside.BrushesContainer ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 5px;
  gap: 5px;
}

@media only screen and (max-width: 450px) {
  aside.BrushesContainer ul {
    grid-template-columns: repeat(2, auto);
  }
}

aside.BrushesContainer ul li button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 2px;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.5s;
}

aside.BrushesContainer ul li button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px black;
}

aside.BrushesContainer ul li button:active {
  transform: scale(0.95);
  box-shadow: 0 0 4px black;
}

aside.BrushesContainer ul li button img {
  width: 30px;
  height: 30px;
}
