aside.BrushesContainer {
  position: absolute;
  top: 20px;
  left: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  div.BrushesHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 5px;
    gap: 5px;
    li {
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 2px;
        border: 1px solid black;
        border-radius: 4px;
        transition: 0.5s;
        &:hover {
          // background-color: #90defd;
          transform: scale(1.05);
          box-shadow: 0 0 2px black;
        }
        &:active {
          // background-color: #8cbfd3;
          transform: scale(0.95);
          box-shadow: 0 0 4px black;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
