aside.ToolBoxContainer {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
}

aside.ToolBoxContainer ul {
  display: flex;
  flex-direction: column;
}

aside.ToolBoxContainer ul li button img {
  width: 24px;
  height: 24px;
}
