aside.ToolBoxContainer {
  max-width: 300px;
  position: absolute;
  top: 0;
  right: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  div.ToolBoxHeader {
    display: flex;
    border-bottom: 1px solid black;
  }
  div.ToolBoxMain {
    display: flex;
    flex-direction: column;
  }
}
