aside.ToolBoxContainer {
  max-width: 300px;
  position: absolute;
  top: 20px;
  right: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

@media only screen and (max-width: 450px) {
  aside.ToolBoxContainer {
    max-width: 200px;
  }
}

aside.ToolBoxContainer div.ToolBoxHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 450px) {
  aside.ToolBoxContainer div.ToolBoxHeader h2 {
    font-size: 20px;
  }
}

aside.ToolBoxContainer div.ToolBoxMain {
  display: flex;
  flex-direction: column;
}

aside.ToolBoxContainer div.ToolBoxMain div.StrokeFillContainer {
  display: flex;
  flex-direction: column;
}

aside.ToolBoxContainer div.ToolBoxMain div.ColorsPickerList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 85px);
}

aside.ToolBoxContainer div.ToolBoxMain label {
  display: flex;
  align-items: center;
}

aside.ToolBoxContainer div.ToolBoxMain label span.mensage {
  font-size: 18px;
  font-weight: bold;
}

aside.ToolBoxContainer div.ToolBoxMain button {
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.5s;
}

aside.ToolBoxContainer div.ToolBoxMain button:hover {
  font-size: 20px;
  transform: scale(1.02);
  box-shadow: 0 0 2px black;
}

aside.ToolBoxContainer div.ToolBoxMain button:active {
  font-size: 16px;
  transform: scale(0.95);
  box-shadow: 0 0 4px black;
  opacity: 0.9;
}
