aside.ToolBoxContainer {
  max-width: 300px;
  position: absolute;
  top: 20px;
  right: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  div.ToolBoxHeader {
    display: flex;
    border-bottom: 1px solid black;
    @media only screen and (max-width: 600px) {
      h2 {
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
      }
    }
  }
  div.ToolBoxMain {
    display: flex;
    flex-direction: column;
    div {
      &.StrokeFillContainer {
        display: flex;
        flex-direction: column;
      }
    }
    label {
      display: flex;
      align-items: center;
      // span {
      //   &.mensage {
      //     width: 75px;
      //   }
      // }
    }
  }
}
